worker list/scheme.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="workers">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="personsTree">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="entry" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:long" name="key"/>
                    <xs:element name="value" type="dyrektor">
					  <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:long" name="pesel"/>
                          <xs:element type="xs:string" name="name"/>
                          <xs:element type="xs:string" name="lastName"/>
                          <xs:element type="xs:short" name="income"/>
                          <xs:element type="xs:int" name="phone"/>
                          <xs:element type="xs:short" name="limit"/>
                          <xs:element type="xs:short" name="addictonal" />
                          <xs:element type="xs:string" name="card" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
					<xs:element name="value" type="handlowiec">
					  <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:long" name="pesel"/>
                          <xs:element type="xs:string" name="name"/>
                          <xs:element type="xs:string" name="lastName"/>
                          <xs:element type="xs:short" name="income"/>
                          <xs:element type="xs:int" name="phone"/>
                          <xs:element type="xs:short" name="limit"/>
                          <xs:element type="xs:byte" name="provision" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>